/* ==UserStyle==
@name           DWWW
@description    Fix Roll20's broken dark mode implementation for the DW character sheet.
@namespace      github.com/SaneMethod/r20_dwww
@version        1.0.0
@author         SaneMethod
==/UserStyle== */
@-moz-document domain("app.roll20.net") {
    .sheet-rolltemplate-move .sheet-rt-content, .sheet-rolltemplate-spell .sheet-rt-content, .sheet-rolltemplate-dwgeneral .sheet-rt-content {
        background-color: #333;
        border-radius: 6px;
    }
    :where(.sheet-darkmode.ui-widget-content) .sheet-rolltemplate-darkmode{
        color:white;
    }
}
